#jumbotron{
    background-color: black ;
    color: #ffc107;
    font-size:250%;
    font-family:Arial, Helvetica, sans-serif;
}
.movie_titles{
    color: #ffc107;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
}
h3{
    text-align: center;
}